<strong>Olá, {{ courier }}</strong>
<p>Sua entrega foi cancelada por causa de um problema.</p>
<strong>Problema:</strong> {{ description }}, criado no dia: {{ date }}</p>
<p>
  <strong>Cliente: </strong> {{ name }} <br />
  <strong>Produto: </strong> {{ product }} <br />

  <br />

  <strong>Pedido de entrega foi excluido.</strong>
  <br />
  <small>
Nenhuma ação necessária.  </small>
</p>
</div>
