<strong>Olá, {{ courier }}</strong>
<p>Nova encomenda para envio:</p>
<p>
  <strong>Cliente: </strong> {{ name }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <strong>Informações para entrega: </strong><br />
  <p>{{address_name}}, {{address_number}}, {{address_add_on}}, {{city}}, {{state}}, {{postal_code}}</p>

  <br />

  <strong>O produto já está disponível para a retirada.</strong>
  <br />
  <small>
  Favor acessar sua conta para dar inicio à entrega.
  </small>
</p>
</div>
